telegram~=0.0.1
 configparser~=7.1.0
 redis~=5.2.1
 requests~=2.32.3
 openai~=1.63.0
 pip~=25.0.1
 distro~=1.9.0
 wheel~=0.43.0
 setuptools~=75.8.0
 packaging~=24.2
 tomli~=2.0.1
 autocommand~=2.2.2
 inflect~=7.3.1
 typeguard~=4.3.0
 platformdirs~=4.2.2
 zipp~=3.19.2
 Flask-JWT-Extended==4.1.0
